.input__container
  h2.input__title Entrada de datos
  h3.input__subtitle Datos separados por coma
  input(type="text", placeholder="Datos separados por coma: 23,54,34,...").input__data#input-data
  a(href="#").input__btn.btn.accent#btn-calculate Calcular valores