.container__title
  h1.container__title-title Dotw X
  nav.menu
    ul.menu__container
      li.menu__item#btn-erase: a(href="#").menu__link.icon-erase
      li.menu__item#btn-menu
        a(href="#").menu__link.icon-menu.menu-option-main
        ul.menu-option.menu-hidden#menu-option
          li.menu-option__item: a(href="https://xizuth.com",target="_blank").menu-option__link Más apps
          li.menu-option__item: a(href="https://xizuth.page.link/donate", target="_blank").menu-option__link Apoyar proyecto
          li.menu-option__item: a(href="https://play.google.com/store/apps/details?id=com.xizuth.josef.dotw&hl=en", target="_blank").menu-option__link App Android