script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-113510030-2')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-113510030-2');