meta(property='og:type', content='product')
meta(property='og:title', content='Dowt X')
meta(property='og:url', content='https://dotw-app.firebaseapp.com/')
meta(property='og:image', content='https://dotw-app.firebaseapp.com/assets/img/dotw_open.png')
meta(property='product:price:amount', content='0.00')
meta(property='product:price:currency', content='USD')

meta(name='twitter:card', content='app')
meta(name='twitter:site', content='@xizuth_tech')
meta(name='twitter:text', content='Dotw X')
meta(name='twitter:description', content='Calculadora estadística, big data, Dowt X. Cálcula la media, moda, mediana, desviación estandar, varianza, covarianza, rango.')