.btn {
    width: 100%;
    display: block;
    color: var(--color-black);
    background: var(--color-accent);
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
}